@import '~semantic-ui-css/semantic.min.css';

.ui.segment {
  padding: .5em 0em;
}

.ui.segment.padded-content {
  padding: 4em 0em;
}

.ui.segment.padded-content h3 {
  font-size: 2em;
}

.ui.segment.padded-content p {
  font-size: 1.33em;
}

